@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    font-family: "Tilt Neon", cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #566573;
    color: white;
}

header .logo {
    width: 80px;
}

header .logo img {
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.links a {
    color: white;
    margin: 0 8px;
}

.links i:nth-child(1) {
    color: white;
}

.choisir_section {
    margin-top: 20px;
}

.choisir_section h3 {
    text-align: center;
    margin-bottom: 20px;
}

.choisir_inputs {
    width: 95%;
    margin: 0 auto;
    display: flex;
    /* border: 2px solid grey; */
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 15px 0;
}

.choisir_inputs.two {
    margin-bottom: 15px;
}

.choisir_input_box,
.choisir_input_box1,
.choisir_input_box2 {
    width: 21%;
    text-align: center;
    position: relative;
    z-index: 999;
}

.choisir_input_box3 {
    width: 40%;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.choisir_input_box.select,
.choisir_input_box1.select,
.choisir_input_box2.select,
.choisir_input_box3.select {
    background-color: #e6e6e6;
    padding: 5px;
}

.choisir_input_box.select p,
.choisir_input_box1.select p,
.choisir_input_box2.select p,
.choisir_input_box3.select p {
    background: #566573;
    color: white;
    padding: 7px 0;
}

.choisir_input_box select {
    padding: 10px 5px;
    border: 2px solid #e6e6e6;
    width: 100%;
}

.choisir_input_box table {
    border-collapse: collapse;
    width: 100%;
}

.choisir_input_box th,
.choisir_input_box td {
    border: 1px solid black;
    text-align: center;
    padding: 3px 0;
}

.main_table {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
}

.main_table table {
    border-collapse: collapse;
    width: 100%;
}

.main_table table th,
.main_table table td {
    border: 2px solid black;
    text-align: center;
    width: calc(100% / 8);
}

.main_table table th {
    padding: 10px 0;
}

.main_table table td {
    padding: 5px 0;
}

.nested_table_td {
    padding: 0 !important;
}

.nested_table_td table td {
    border-left: 2px solid black;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    background-color: #FF542F;
    color: white;
    width: 25%;
}

.nested_table_td.salle table td {
    background-color: white;
    color: #566573;
}
.nested_table_td.salle table .green {
    background-color: green;
    color: white;
}
.nested_table_td.salle table .red {
    background-color: red;
    color: white;
}

.nested_table_td table td:nth-child(1) {
    border-left: 0 !important;
}

.nested_table_td table {
    width: 100%;
}

.nested_table_td_two {
    padding: 0 !important;
}

.nested_table_td_two table td {
    border-top: 2px solid black;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

.nested_table_td_two table tr:nth-child(1) td {
    border-top: 0;
}



.nested_table_td_three {
    padding: 0 !important;
    border-top: 0 !important;
    border-right: 4px solid black !important;
    border-bottom: 2px solid black !important;
    height: 90px;
}

.nested_table_td_four {
    padding: 0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    cursor: grab;
}

.nested_table_td_four table td {
    border-top: 2px solid black !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    font-size: 8px;
    font-weight: bold;
}

.nested_table_td_four table tr:nth-child(1) td {
    border-top: 0 !important;
}

.nested_table_td_three table {
    width: 100% !important;
    height: 100% !important;
}

.nested_table_td_three table .nested_table_td_four {
    width: 25% !important;
    height: 33.33%;
}

.nested_table_td_four table {
    height: 200px;

}

.RHA {
    background-color: #94FABF;
}

.AKB {
    background-color: #6DB84A;
}

.GHA {
    background-color: #FFA48F;
}

.gud {
    background-color: #FE4E03;
}

.zia {
    background-color: #F9C644;
}

.IDCC {
    background-color: #F9C644;
}

.INFO {
    background-color: #109CF1;
}

.select-btn,
li,
.select-btn1,
.select-btn2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn,
.select-btn1,
.select-btn2 {
    padding: 6px 0;
    font-size: 16px;
    background: #fff;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.select-btn i,
.select-btn1 i,
.select-btn2 i {
    font-size: 31px;
    transition: transform 0.3s linear;
}

.choisir_input_box.active .select-btn i,
.choisir_input_box1.active .select-btn1 i,
.choisir_input_box2.active .select-btn2 i {
    transform: rotate(-180deg);
}

.content {
    display: block;
    width: 100%;
    position: absolute;
    top: 70px;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.choisir_input_box.active .content,
.choisir_input_box1.active .content,
.choisir_input_box2.active .content {
    display: block;
}

.content .search {
    position: relative;
}

.search i {
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}

.search input {
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
}

.search input:focus {
    padding-left: 42px;
    border: 2px solid #566573;
}

.search input::placeholder {
    color: #bfbfbf;
}

.content .options,
.content .options1,
.content .options2 {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}

.options::-webkit-scrollbar,
.options1::-webkit-scrollbar,
.options2::-webkit-scrollbar {
    width: 7px;
}

.options::-webkit-scrollbar-track,
.options1::-webkit-scrollbar-track,
.options2::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb,
.options1::-webkit-scrollbar-thumb,
.options2::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover,
.options1::-webkit-scrollbar-thumb:hover,
.options2::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.options li,
.options1 li,
.options2 li {
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

.options li:hover,
li.selected,
.options1 li:hover,
li.selected,
.options2 li:hover,
li.selected {
    border-radius: 5px;
    background: #f2f2f2;
}

.parGroupe {
    padding: 20px;
    width: 100%;
}

.parGroupe h1 {
    text-align: center;
    padding: 10px 0;
    color: #566573;
}

.selectFiliere {
    width: 70%;
    margin: 15px auto;
    justify-content: space-between;
    display: flex;
}

.selectFiliere div {
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectFiliere select {
    padding: 12px;
    border: 2px solid #e6e6e6;
    outline: 0;
    width: 75%;
}

.parGroupe p {
    background-color: #566573;
    padding: 10px;
    color: white;
}

.parGroupe table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
    overflow-x: auto;
}

.parGroupe th,
.parGroupe td {
    border: 1px solid #e6e6e6;
    text-align: center;
}

.parGroupe th {
    background-color: #f2f2f2;
    padding: 15px;
    white-space: nowrap;
}

.parGroupe td {
    padding: 10px;
}

.parGroupe tr:nth-child(even) {
    background-color: #f2f2f2;
}

.parGroupe tr:hover {
    background-color: #e6e6e6;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #566573;
}

.redEcart {
    background-color: rgba(255, 0, 0, 0.455);
    font-weight: bold;
    color: white;
}

.DIA_CMOSE_FQ {
    background-color: #5776f2cf;
}

.AG_INFO_TS {
    background-color: #856f8596;
}

.DIA_CMOSW_FQ {
    background-color: rgba(40, 164, 152, 0.651);
}

.DIA_DEV_TS {
    background-color: #ebb22ece;
}

.DIA_DEVOAM_TS {
    background-color: #376505aa;
}

.DIA_DEVOWFS_TS {
    background-color: #e14503d6;
}

.DIA_DEVOWFS_TS_RCDS {
    background-color: rgba(5, 243, 116, 0.713);
}

.DIA_ID_TS {
    background-color: rgba(13, 228, 236, 0.825);
}

.DIA_IDOCC_TS {
    background-color: rgba(46, 98, 92, 0.846);
}

.DIA_IDOCS_TS {
    background-color: rgb(177, 136, 86);
}

.DIA_IDOSR_TS {
    background-color: #d089c9bd;
}

.GC_PIE_FQ {
    background-color: #FFC0CB;
}

.NTIC_MIR_BP {
    background-color: rgba(86, 2, 86, 0.599);
}

.NTIC_TDI_TS_RCDS {
    background-color: #999;
}

.parGroupe h3 {
    padding: 10px 0;
    color: #566573;
}

.tr th {
    background-color: #566573a0;
    color: whitesmoke;
}

.fieldsetOne {
    width: 100%;
    padding: 20px;
    border: 2px solid #566573;
    border-radius: 10px;
    margin: 20px 0;
}

.fieldsetTwo {
    padding: 30px;
    border: 2px solid #566573;
    border-radius: 10px;
    text-align: center;
}

.fieldsetTwo legend {
    display: inline-block;
}

.itemsEmploi {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.itemsEmploi h4 {
    width: 50%;
}

.itemsEmploi h4 span {
    color: #566573;
}

.fieldsetOne tr:nth-child(even) {
    background-color: white;
}

.parGroupe tr:hover {
    background-color: white;
}

.btnDownload {
    background-color: #566573;
    border: none;
    color: white;
    padding: 12px;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 22px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #566573;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loaderDiv {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* formAdmin */

.formAdmin {
    width: calc(100% - 60px);
    margin: 10px auto 0 auto;
    margin: 30px;
    padding: 30px;
}

.formAdmin h1 {
    text-align: center;
    color: #566573;
    margin-bottom: 30px;
}

.formAdmin form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
}

.formAdmin form div {
    margin: 9px 0;
    width: 32.6%;
    position: relative;
}

.formAdmin p {
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 3px;
    color: #566573;
    font-weight: bold;
}

.formAdmin input,
.formAdmin textarea,
.formAdmin select {
    padding: 12px;
    width: 100%;
    outline: 0;
    margin-bottom: 5px;
    font-size: 14px;
    border: 2px solid #e6e6e6;
}

.formAdmin input:focus,
.formAdmin textarea:focus,
.formAdmin select:focus {
    border: 2px solid #566573;
}

.formAdmin button {
    padding: 12px;
    width: 100%;
    margin-bottom: 5px;
    background-color: #566573;
    color: white;
    outline: 0;
    border: 0;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 5px;
}

.colorInput {
    width: fit-content !important;
}

.formAdmin table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
    overflow-x: scroll;
}

.formAdmin th,
.formAdmin td {
    border: 1px solid #e6e6e6;
    text-align: center;
}

.formAdmin th {
    background-color: #f2f2f2;
    padding: 15px;
    white-space: nowrap;
}

.formAdmin td {
    padding: 10px;
}

.formAdmin tr:hover {
    background-color: #e6e6e6;
}

.formAdmin table button {
    width: fit-content !important;
}

.formAdmin table .delete {
    background-color: #FF5555;
    margin: 0 2px;
}

.formAdmin table .update {
    background-color: #3498db;
    margin: 0 2px;
}

.singleLoader {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.containerDahboard {
    display: flex;
}

.aside {
    width: 20%;
    background-color: #566573;
    position: fixed;
    height: 100vh;
    /* z-index: 99; */
}

.main {
    width: 80%;
    position: relative;
    left: 20%;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 80%;
    top: 0;
    z-index: 99;
}

nav .header {
    font-size: 20px;
    font-weight: bold;
}

.menuClick {
    display: block;
    background: #566573;
    position: absolute;
    right: 20px;
    z-index: 999;
    opacity: 1;
    transition: 0.3s display ease-in;
    top: 65px;
}

.menuClick a {
    display: block;
    padding: 10px 20px;
    color: white;
    z-index: 999;
    cursor: pointer;
}

.logout {
    cursor: pointer;
    margin: 0 10px;
    width: 45px;
    height: 45px;

}

.notif {
    display: flex;
    align-items: center;
}

.notif i {
    font-size: 25px;
    color: goldenrod;
    margin-right: 15px;
    cursor: pointer;
}

.logout img {
    clip-path: circle();
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    cursor: pointer;
}

.brand img {
    width: 130px;
}



/* linksSide */
.linksSide {
    margin: 10px 0;
}

.linksSide a {
    color: white;
    display: block;
    padding: 15px 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 15px;
    width: 100%;
    cursor: pointer;
}

.linksSide a i {
    width: 30px;
    font-size: 22px;
    text-align: center;
    margin-right: 10px;
}

.linksDown {
    background-color: #566573;
}

.linksDown i {
    width: 20px !important;
    font-size: 18px !important;
    margin-right: 10px;
}

.linksSide a:hover,
.linksSide a.active {
    background-color: white;
    color: black;
}

#arrowRight {
    position: absolute;
    right: 0;
    font-size: 20px;
}

.linksSide a:hover::before,
.linksSide .active::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}

.linksSide a:hover::after,
.linksSide .active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}


.contentDashboard {
    padding: 20px;
    margin-top: 60px;
}

.boxs {
    display: flex;
    justify-content: space-around;
}

.boxs a {
    width: 30%;
    margin-right: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    border-radius: 5%;
    align-items: center;
    flex-direction: column;
    padding: 25px 0;
    color: white;
    text-align: center;
}

.boxs a i {
    font-size: 25px;
    margin-bottom: 5px;
}

.boxs a:nth-child(1) {
    background-color: #6775D8;
}

.boxs a:nth-child(2) {
    background-color: #D667D8;
}

.boxs a:nth-child(3) {
    background-color: #3a7b2e;
}

.boxs a:nth-child(4) {
    background-color: #D667D8;
}

.box:nth-child(5) {
    background-color: #D86778;
}

.Générer {
    width: 100%;
    background-color: rgb(11, 178, 11);
    color: white;
    outline: 0;
    border: 0;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 5px;
}

.GénérerTd {
    background-color: rgb(11, 178, 11);
}



.groupeTable tr {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 10% 15% 10% 10% 10% 10% 7.5% 7.5%;
}

.apTable tr {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 12% 12% 12% 12% 12% 10% 10%;
}

.arrowDown {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 45px;
    color: #566573;
    z-index: 990;
    background-color: white;
    cursor: pointer;
    clip-path: circle();
}




.about-section {
    padding: 50px 160px;
    /* text-align: center; */
    color: white;
}

.aboutPage {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.imgAbout {
    width: 50%;
}

.imgAbout img {
    width: 80%;
}

.aboutContent {
    width: 50%;
}

.aboutContent h1 {
    color: black;
    margin-bottom: 25px;
}

.aboutContent p {
    color: black;
    font-size: 20px;
}



@media print {
    .choisir_inputs.two {
        display: none;
    }

    header {
        display: none;
    }

    .arrowDown {
        display: none;
    }

    .btnDownload {
        display: none;
    }

    .emploiDiv {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: baseline;
    }
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #566573;
    color: white;
}

.contactPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactPageLeft {
    width: 50%;
}

.contactPageLeft img {
    width: 75%;
}

.contactPageRight {
    width: 45%;
    margin: 0 auto;
}

.contactPageRight h1 {
    margin-bottom: 20px;
    text-align: center;
}

.contactPageRight input,
.contactPageRight textarea {
    padding: 13px;
    border: 2px solid #e6e6e6;
    width: 100%;
    margin-bottom: 8px;
    outline: 0;
}

.contactPageRight button {
    padding: 12px;
    width: 100%;
    background-color: #566573;
    color: white;
    border: 0;
    cursor: pointer;
}

.contactPageRight input:focus,
.contactPageRight textarea:focus {
    border: 2px solid #566573;
}

.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: 1px;
    padding: 3px 9px;
    border-radius: 50%;
    background: red;
    color: white;
}


.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 50px 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    text-align: center;
    padding: 50px auto;
}

.card img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto;
    object-fit: cover;
    border-radius: 100px;
}

.about-section {
    padding: 50px;
    text-align: center;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.card .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #566573;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.jourFix th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}

.jourFix td {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    z-index: 1;
}
.fixedIcon{
    background-color: #f2f2f2;
}
.containerDahboard.smallDash .aside {
    width: 5%;
}
.containerDahboard.smallDash .main {
    width: 95%;
    position: relative;
    left: 5%;
}
.containerDahboard.smallDash nav {
    width: 95%;
}
.containerDahboard.smallDash .linksSide a span {
    display: none;
}
.containerDahboard.smallDash .brand img {
    width: 40px;
}


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .pagination li {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
  }

  .pagination li a {
    color: black;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
  }

  .pagination li.active a {
    background-color: #566573;
    color: white;
  }


.headerD {
    display: flex;
    justify-content: space-between;
}
